@page
@model SeguiAcademico.App.Presentacion.Pages.IngresoUsuarioModel
@{
}

<div class="Ingreso">
    <a href="#">
        <img src="../Images/IconoEstudiante.png" class="images" , title="Estudiante" width="60px" height="60px" />
    </a>
    <a href="#">
        <img class="images" , src="../Images/IconoMaestro.png" , title="Maestro" width="60px" height="60px" />
    </a>
    <a href="#">
        <img src="../Images/IconoTutor.png" class="images" title="Tutor" width="60px" height="60px" />
    </a>
    <a href="#">
        <img src="../Images/IconoAcudiente.png" class="images" title="Acudiente" width="60px" height="60px" />
    </a>

    <h4>INGRESO ESTUDIANTIL</h4>

    <img src="../Images/IconoEstudiante.png" class="images" , title="Estudiante" />
    <br>
    <form>
        <input class="formulario" type="text" placeholder="Usuario" label=> <br>
        <input class="formulario" type="password" placeholder="Contraseña" label=> <br>
    </form>

    <a href="#">
        <p class="LetraPequeña">¿Olvidó su contraseña?</p>
    </a>
</div>
