@page
@model SeguiAcademico.App.Presentacion.Pages.Ingreso.IngresoAcudienteModel
@{
}

<body class="acudiente">

    <div class="Ingreso">
        <a href="/Ingreso/IngresoUsuario">
            <img src="../Images/IconoEstudiante.png" class="images" , title="Estudiante" width="60px" height="60px" />
        </a>
        <a href="/Ingreso/IngresoMaestro">
            <img class="images" , src="../Images/IconoMaestro.png" , title="Maestro" width="60px" height="60px" />
        </a>
        <a href="/Ingreso/IngresoTutor">
            <img src="../Images/IconoTutor.png" class="images" title="Tutor" width="60px" height="60px" />
        </a>
        <a href="#">
            <img src="../Images/IconoAcudiente.png" class="images" title="Acudiente" width="60px" height="60px" />
        </a>

        <h4 class="negrilla">INGRESO ACUDIENTE</h4>

        <img src="../Images/IconoAcudiente.png" class="images" />
        <br>
        <form>
            <input class="formulario" type="text" placeholder="Usuario"> <br>
            <input class="formulario" type="password" placeholder="Contraseña"> <br>

        </form>

        <a href="#">
            <p class="LetraPequeña">¿Olvidó su contraseña?</p>
        </a>

        <a class="btn btn-primary" asp-page=""> INGRESAR </a>
        <a class="btn btn-primary" asp-page=""> REGISTRO </a>
    </div>

</body>