@page
@model IndexModel
@{
    ViewData["Title"] = "Seguimiento Académico";
}

<body class="index">
    <div class="text-center">
        <h1 class="display-4">Bienvenido a la aplicación de seguimiento académico</h1>
        <p>Conoce nuestros <a
                href="https://www.mineducacion.gov.co/1759/w3-article-401231.html?_noredirect=1">protocolos de
                Bioseguridad</a>.</p>
    </div>
</body>