@page
@model IndexModel
@{
    ViewData["Title"] = "Seguimiento Académico";
}

<body>
    <div class="text-center">
        <h4>Bienvenido a tu</h4>
        <h2 class="display-5">SEGUIMIENTO ACADÉMICO</h2>
        <p>Conoce nuestros <a
                href="https://www.mineducacion.gov.co/1759/w3-article-401231.html?_noredirect=1">protocolos de
                Bioseguridad</a>.</p>
    </div>

    <div>
        <a class="btn btn-secondary" asp-page="/Estudiantes/Index">Interfaz Gráfica Estudiante</a>
        <a class="btn btn-secondary" asp-page="/Maestros/Consultar">Interfaz Gráfica Maestro</a>
        <a class="btn btn-secondary" asp-page="/Tutores/Index">Interfaz Gráfica Tutor</a>
        <a class="btn btn-secondary" asp-page="/Acudientes/Index">Interfaz Gráfica Acudiente</a>



    </div>
</body>