body {
    font-family: 'Merriweather', serif;
    background-color: #e5e5f7;
    opacity: 1;
    background-image: radial-gradient(#e3d6e9d7 0.5px, #fffec6bb 0.5px);
    background-size: 10px 10px;
    background-position: 0 0, 14px 14px;
}